{% extends 'partials/base.html.twig' %}

{% block content %}
{% for p in page.collection %}
<h3><a href="{{ p.url }}">{{ p.title|e }}</a></h3>
{{ p.summary|raw }}
{% endfor %}
  {{ page.content|raw }}
{% endblock %}
