{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
{% if not particle.patterns or particle.patterns == 'enabled' %}
	<div class="g-promo-pattern">
		<svg viewbox="0 0 1223 621" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1083 363L1167.87 412V510L1083 559L998.13 510V412L1083 363Z" class="base-pattern-3"/>
			<path d="M98 425L182.87 474V572L98 621L13.1295 572V474L98 425Z" class="base-pattern-2"/>
			<path d="M98 0L128.311 17.5V52.5L98 70L67.6891 52.5V17.5L98 0Z" class="base-pattern-1"/>
			<path d="M1223 253L1253.31 270.5V305.5L1223 323L1192.69 305.5V270.5L1223 253Z" class="base-pattern-1"/>
		</svg>
	</div>
	{% endif %}
	<div id="{{ particle.id }}" class="g-promo" style="background-image: url({{ url(particle.image)|e }});">
		{% if particle.headline %}
			<span class="g-promo-headline">{{ particle.headline|raw }}</span>
		{% endif %}
		{% if particle.title %}
			<h1>
				<span class="g-promo-details">{{ particle.title|raw }}</span>
			</h1>
		{% endif %}
	</div>
{% endblock %}

